Repository jwillikers/PWM-Fan-Controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, rustfmt, test-check-image-metadata, yamllint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    .idea/.*|
    .run/.*|
    .vscode/.*
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ^.vscode/.*\.json$
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: just
        entry: nix develop --command just --fmt --unstable
        files: |
          (?x)^(
            \.justfile|
            justfile|
            .*\.just
          )$
        language: system
        name: just
        pass_filenames: false
      - id: mogrify-strip
        entry: nix develop --command nu check-image-metadata.nu --strip
        language: system
        name: Strip Image Metadata
        types: [binary, file, image]
      - id: rustfmt
        name: rustfmt
        description: Format Rust files with rustfmt.
        entry: nix develop --command rustfmt
        language: system
        types: [file, rust]
      - id: test-check-image-metadata
        entry: nix develop --command nu check-image-metadata-tests.nu
        files: |
          (?x)^(
            check-image-metadata\.nu
            check-image-metadata-tests\.nu
          )$
        language: system
        name: test check-image-metadata.nu
        pass_filenames: false
      # - id: rust-clippy-attiny85
      #   name: Rust clippy ATtiny85
      #   description: Run cargo clippy on files included in the commit.
      #   language: system
      #   entry: nix develop '.#attiny85' --command cargo clippy --all-targets --all-features --manifest-path boards/attiny85/Cargo.toml -- -Dclippy::all
      #   pass_filenames: false
      #   types: [file, rust]
      # - id: rust-clippy-pico
      #   name: Rust clippy Pico
      #   description: Run cargo clippy on files included in the commit.
      #   entry: nix develop '.#pico' --command cargo clippy --all-targets --all-features --manifest-path boards/pico/Cargo.toml -- -Dclippy::all
      #   pass_filenames: false
      #   types: [file, rust]
      #   language: system
      - id: yamllint
        entry: nix develop --command yamllint
        language: system
        name: yamllint
        types: [file, yaml]

Switch from unstable to NixOS 24.11
  .github/workflows/update-nixos-release.yaml
  .justfile
  .vscode/settings.json
  flake.lock
  flake.nix
Due: just, yamllint

Fix missing app
  flake.nix
  pre-commit-hooks.nix
Due: none

Use pkgs.lib.getExe
  pre-commit-hooks.nix
Due: none

Fix pre-commit
  pre-commit-hooks.nix
Due: none

chore(deps): Update NixOS release
  flake.lock
  flake.nix
Due: none

chore(deps): Update nix-direnv
  .envrc
  boards/attiny85/.envrc
  boards/pico/.envrc
  boards/qt-py-ch32v203/.envrc
Due: none

Run treefmt-nix instead of treefmt
  .github/workflows/treefmt.yaml
  .vscode/settings.json
Due: yamllint

Update flake
  flake.lock
Due: none

Update pico Rust dependencies
  .editorconfig
  boards/pico/Cargo.lock
Due: none

Attempt to fix AtTiny85 builds
  .editorconfig
  .justfile
  boards/attiny85/.justfile
  boards/attiny85/Cargo.lock
  boards/attiny85/Cargo.toml
  boards/attiny85/package.nix
  boards/attiny85/rust-toolchain.toml
  boards/pico/.justfile
  boards/qt-py-ch32v203/.justfile
  flake.nix
Due: just

Attempt to fix AtTiny85 builds
  .editorconfig
  .justfile
  boards/attiny85/.justfile
  boards/attiny85/Cargo.lock
  boards/attiny85/Cargo.toml
  boards/attiny85/rust-toolchain.toml
  boards/pico/.justfile
  boards/qt-py-ch32v203/.justfile
  flake.nix
Due: just

Update
  .github/workflows/treefmt.yaml
  .vscode/settings.json
  boards/attiny85/.justfile
  flake.lock
  flake.nix
  pre-commit-hooks.nix
Due: yamllint

Update Pico
  boards/pico/Cargo.lock
Due: none

Update qt-py-ch32v203
  boards/qt-py-ch32v203/.cargo/config.toml
  boards/qt-py-ch32v203/Cargo.lock
  boards/qt-py-ch32v203/Cargo.toml
  boards/qt-py-ch32v203/rust-toolchain.toml
  flake.nix
Due: none

Remove build.rs and memory.x
  boards/qt-py-ch32v203/.cargo/config.toml
  boards/qt-py-ch32v203/build.rs
  boards/qt-py-ch32v203/memory.x
Due: rustfmt

Try to fix AVR
  boards/attiny85/rust-toolchain.toml
  flake.nix
Due: none

Disable AVR builds since they are broken
  .github/workflows/build-attiny85.yaml
  .github/workflows/clippy-attiny85.yaml
Due: yamllint

Revert "Remove build.rs and memory.x"
  boards/qt-py-ch32v203/.cargo/config.toml
  boards/qt-py-ch32v203/build.rs
  boards/qt-py-ch32v203/memory.x
Due: rustfmt

Adjust editorconfig
  .editorconfig
Due: none

Update spellings
  .vscode/settings.json
Due: none

Remove extra newline
  .envrc
  boards/attiny85/.envrc
  boards/pico/.envrc
  boards/qt-py-ch32v203/.envrc
Due: none

Try removing CARGO_TARGET_THUMBV6M_NONE_EABI_RUSTFLAGS
  flake.nix
Due: none

Remove CARGO_TARGET_RISCV32IMAC_UNKNOWN_NONE_ELF_RUSTFLAGS
  flake.nix
Due: none

Try removing flip-link from Nix
  flake.nix
Due: none

Remove link checker
  .github/workflows/link-checker.yaml
Due: yamllint

Remove magic-nix-cache action
  .github/workflows/build-attiny85.yaml
  .github/workflows/build-pico.yaml
  .github/workflows/build-qt-py-ch32v203.yaml
  .github/workflows/cargo-lock-updater.yaml
  .github/workflows/clippy-attiny85.yaml
  .github/workflows/flake-lock-updater.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/update-nix-direnv.yaml
  .github/workflows/update-nixos-release.yaml
  .github/workflows/yamllint.yaml
Due: yamllint

Update treefmt pre-commit hook
  pre-commit-hooks.nix
Due: none
