Repository jwillikers/PWM-Fan-Controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, rustfmt, yamllint

just:
  entry: nix develop --command just --fmt --unstable
  language: system
  name: just
  pass_filenames: false

rustfmt:
  name: rustfmt
  description: Format Rust files with rustfmt.
  entry: nix develop --command rustfmt
  language: system
  pass_filenames: true

yamllint:
  entry: nix develop --command yamllint
  language: system
  name: yamllint
  pass_filenames: true

Update top-level README
  README.adoc
Due: none

Move version to only effect the ATtiny85 package
  boards/attiny85/default.nix
  flake.nix
Due: none

Fix cargo-lock-update action
  .github/workflows/cargo-lock-updater.yaml
Due: yamllint

Add CI badge for the QT Py CH32V203
  README.adoc
Due: none

Use git-hooks.nix, treefmt-nix, and nix-direnv
  .editorconfig
  .envrc
  .github/workflows/build-pico.yaml
  .github/workflows/check-image-metadata.yaml
  .github/workflows/clippy-attiny85.yaml
  .github/workflows/flake-lock-updater.yaml
  .github/workflows/format-just.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/rustfmt.yaml
  .github/workflows/test-update-nix-direnv.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/update-nix-direnv.yaml
  .gitignore
  .justfile
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .yamlfmt.yaml
  .yamllint.yaml
  README.adoc
  boards/attiny85/Cargo.toml
  boards/attiny85/README.adoc
  boards/attiny85/default.nix
  boards/pico/.cargo/config.toml
  boards/pico/Embed.toml
  boards/pico/README.adoc
  boards/pico/default.nix
  boards/qt-py-ch32v203/.cargo/config.toml
  boards/qt-py-ch32v203/Cargo.toml
  boards/qt-py-ch32v203/README.adoc
  boards/qt-py-ch32v203/default.nix
  check-image-metadata-tests.nu
  check-image-metadata.nu
  flake.lock
  flake.nix
  lychee.toml
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
Due: just, yamllint

Set reviewer instead of assignee
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Mention reviewer in body
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Remove pr-body override
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Update URL for AVR Libc
  boards/attiny85/README.adoc
Due: none

Use update-nix-direnv from the nix-update-scripts repository
  .github/workflows/test-update-nix-direnv.yaml
  .justfile
  flake.lock
  flake.nix
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
Due: just, yamllint

Update nix direnv action
  .github/workflows/update-nix-direnv.yaml
Due: yamllint

Fix lychee caching
  .github/workflows/link-checker.yaml
Due: yamllint

Specify paths for treefmt
  .github/workflows/build-attiny85.yaml
  .github/workflows/build-pico.yaml
  .github/workflows/build-qt-py-ch32v203.yaml
  .github/workflows/clippy-attiny85.yaml
  .github/workflows/flake-checker.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/yamllint.yaml
Due: yamllint

Alphabetize
  .github/workflows/treefmt.yaml
Due: yamllint

Define GitHub repository settings in .github/settings.yml
  .editorconfig
  .github/settings.yml
  .vscode/settings.json
Due: yamllint

Fix formatting
  .github/settings.yml
Due: yamllint

Use https links
  README.adoc
  boards/attiny85/README.adoc
  boards/pico/README.adoc
  boards/qt-py-ch32v203/README.adoc
Due: none

Fix link checker
  .github/workflows/link-checker.yaml
  lychee.toml
Due: yamllint

Check links in license files
  .github/workflows/link-checker.yaml
  .justfile
Due: just, yamllint

Fix typo
  .github/workflows/link-checker.yaml
Due: yamllint

Organize Nix code a bit
  flake.nix
Due: none

Remove unnecessary runtime inputs
  flake.nix
Due: none

Use rec keyword to reduce verbosity
  flake.nix
Due: none

Generate the apps, devShells, and packages from each of the boards
  flake.nix
Due: none

Add defaultBoard variable
  flake.nix
Due: none

Use simple and consistent names for apps
  flake.nix
Due: none

Simplify a bit
  flake.nix
Due: none

Update GitHub Actions
  .github/workflows/build-attiny85.yaml
  .github/workflows/build-pico.yaml
  .github/workflows/build-qt-py-ch32v203.yaml
Due: yamllint

Update justfile targets
  .justfile
  boards/attiny85/.justfile
  boards/pico/.justfile
  boards/qt-py-ch32v203/.justfile
Due: just

Refactor flake
  boards/attiny85/package.nix
  boards/pico/package.nix
  boards/qt-py-ch32v203/package.nix
  flake.lock
  flake.nix
  pre-commit-hooks.nix
  treefmt.nix
Due: none

Fix qt-py-ch32v203 builds
  boards/qt-py-ch32v203/rust-toolchain.toml
Due: none

Document the wiring and improve the pico probe documentation
  boards/pico/README.adoc
  boards/qt-py-ch32v203/README.adoc
Due: none

Remove extra quotes
  .github/workflows/build-attiny85.yaml
  .github/workflows/build-pico.yaml
  .github/workflows/build-qt-py-ch32v203.yaml
  .github/workflows/cargo-lock-updater.yaml
  README.adoc
  boards/attiny85/README.adoc
Due: yamllint

Exclude files from the VSCode file watcher
  .vscode/settings.json
Due: none

Finesse the wiring documentation
  boards/pico/README.adoc
  boards/qt-py-ch32v203/README.adoc
Due: none

Add todo for documenting wiring for the ATtiny85
  boards/attiny85/README.adoc
Due: none

Remove extra quotes
  .github/workflows/update-nix-direnv.yaml
Due: yamllint

Update justfiles
  .justfile
  boards/attiny85/.justfile
  boards/pico/.justfile
  boards/qt-py-ch32v203/.justfile
Due: just

Use Nushell scripts instead of Bash
  flake.nix
Due: none

Path conditions:
  just: any of: (?x)^(
  \.justfile|
  justfile|
  .*\.just
)$
, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

  rustfmt: any of: \.rs$, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

